<div class="topic" ng-class="topic.backgroundColourClass">

  <div class="row undo-padding">
    <div class="col-md-2">
    </div>
    <div class="col-md-7">
      <h2>{{topic.nickname}}
        <span ng-bind="topic.topic"></span>
      </h2>
    </div>

    <div class="col-md-2">

    </div>
  </div>

  <div class="row undo-padding">
    <div class="col-md-2">

    </div>
    <div class="col-md-5">
      <linechart data="data" options="options" mode="" width="" height="400"></linechart>
    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-2">

    </div>
  </div>

</div>
