<!-- Filter Div -->
<div class="filters colour0">

  <div class="row undo-padding">

      <div class="col-md-2"></div>
    <div class="col-md-7">

      <h2>Filter Topics:
        <span>Type search terms, then hit enter to add them to the filter.</span>
      </h2>
    </div>
  </div>
  <div class="row undo-padding">
    <div class="col-md-2"></div>
    <div class="col-md-7">
      <div class="input-group input-group-lg">
        <tags-input class="darkText" ng-model="tags"></tags-input>
        <span class="input-group-btn">
          <button class="btn btn-default btn-lg" type="submit">Search</button>
        </span>
      </div>
    </div>
  </div>
</div>
<!--  -->

<div topic-directive ng-repeat="topic in topics" topic="topic">
</div>
